In [3]:
#importing data management, data visualisation libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data= pd.read_csv('KL_clean_data.csv')
data

,Location,Price,Bathrooms,Car Parks,Size,Furnishing,Type,No_of_Bedrooms,No_of_servant_rooms,studio_apartment,Property Type Supergroup
0,KLCC,1250000,3,2,1335.035,Fully Furnished,Built-up,2,1,0,Serviced Residence
1,Dutamas,1030000,4,2,1875.075,Partly Furnished,Built-up,3,0,0,Condominium
2,Bukit Jalil,900000,3,2,1513.013,Partly Furnished,Built-up,4,1,0,Condominium
3,Taman Tun Dr Ismail,5350000,5,4,7200.000,Partly Furnished,Land area,4,2,0,Bungalow
4,Taman Tun Dr Ismail,2600000,4,4,3600.000,Partly Furnished,Land area,5,0,0,Semi-detached House
...,...,...,...,...,...,...,...,...,...,...,...
28985,Seputeh,750000,2,1,915.015,Partly Furnished,Built-up,3,0,0,Condominium
28986,KL Sentral,1400000,3,2,1544.044,Fully Furnished,Land area,3,1,0,Condominium
28987,KL Eco City,880000,1,1,650.050,Partly Furnished,Built-up,1,0,0,Condominium
28988,Sri Hartamas,2700000,6,3,3973.073,Partly Furnished,Built-up,4,2,0,Condominium
28989,Setapak,540000,2,3,1313.013,Partly Furnished,Built-up,4,0,0,Condominium

In [6]:
data['Property Type Supergroup'].value_counts()

Property Type Supergroup
Condominium            14503
Serviced Residence      7611
Terrace/Link House      3183
Bungalow                1412
Apartment               1038
Semi-detached House      828
Townhouse                284
Flat                     102
Residential Land          23
Cluster House              6
Name: count, dtype: int64

In [14]:
# Calculate percentiles
percentiles = data['Price'].quantile([0, 0.3, 0.6, 0.9, 1])

# Define bins and labels
bins = [percentiles.iloc[0], percentiles.iloc[1], percentiles.iloc[2], percentiles.iloc[3], percentiles.iloc[4]]
labels = ['Bronze', 'Silver', 'Gold', 'Deluxe']

# Create the new column 'type' based on price ranges
data['type'] = pd.cut(data['Price'], bins=bins, labels=labels, include_lowest=True)
data

,Location,Price,Bathrooms,Car Parks,Size,Furnishing,Type,No_of_Bedrooms,No_of_servant_rooms,studio_apartment,Property Type Supergroup,type
0,KLCC,1250000,3,2,1335.035,Fully Furnished,Built-up,2,1,0,Serviced Residence,Gold
1,Dutamas,1030000,4,2,1875.075,Partly Furnished,Built-up,3,0,0,Condominium,Silver
2,Bukit Jalil,900000,3,2,1513.013,Partly Furnished,Built-up,4,1,0,Condominium,Silver
3,Taman Tun Dr Ismail,5350000,5,4,7200.000,Partly Furnished,Land area,4,2,0,Bungalow,Deluxe
4,Taman Tun Dr Ismail,2600000,4,4,3600.000,Partly Furnished,Land area,5,0,0,Semi-detached House,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...
28985,Seputeh,750000,2,1,915.015,Partly Furnished,Built-up,3,0,0,Condominium,Silver
28986,KL Sentral,1400000,3,2,1544.044,Fully Furnished,Land area,3,1,0,Condominium,Gold
28987,KL Eco City,880000,1,1,650.050,Partly Furnished,Built-up,1,0,0,Condominium,Silver
28988,Sri Hartamas,2700000,6,3,3973.073,Partly Furnished,Built-up,4,2,0,Condominium,Gold
28989,Setapak,540000,2,3,1313.013,Partly Furnished,Built-up,4,0,0,Condominium,Bronze

In [20]:
data['type'].nunique()

4

In [21]:
data['type'].value_counts()

type
Bronze    8799
Gold      8680
Silver    8612
Deluxe    2899
Name: count, dtype: int64

In [16]:
import pandas as pd

# Calculate percentiles for the 'size' column
percentiles = data['Size'].quantile([0, 0.3, 0.6, 0.9, 1])

# Define bins and labels for the 'size_type' column
bins = [percentiles.iloc[0], percentiles.iloc[1], percentiles.iloc[2], percentiles.iloc[3], percentiles.iloc[4]]
labels = ['Small', 'Medium', 'Large', 'Extra Large']

# Create the new column 'size_type' based on size ranges
data['size_type'] = pd.cut(data['Size'], bins=bins, labels=labels, include_lowest=True)

In [19]:
data['size_type'].nunique()

4

In [18]:
data['size_type'].value_counts()

size_type
Small          8702
Medium         8700
Large          8692
Extra Large    2896
Name: count, dtype: int64

In [17]:
data

,Location,Price,Bathrooms,Car Parks,Size,Furnishing,Type,No_of_Bedrooms,No_of_servant_rooms,studio_apartment,Property Type Supergroup,type,size_type
0,KLCC,1250000,3,2,1335.035,Fully Furnished,Built-up,2,1,0,Serviced Residence,Gold,Medium
1,Dutamas,1030000,4,2,1875.075,Partly Furnished,Built-up,3,0,0,Condominium,Silver,Large
2,Bukit Jalil,900000,3,2,1513.013,Partly Furnished,Built-up,4,1,0,Condominium,Silver,Large
3,Taman Tun Dr Ismail,5350000,5,4,7200.000,Partly Furnished,Land area,4,2,0,Bungalow,Deluxe,Extra Large
4,Taman Tun Dr Ismail,2600000,4,4,3600.000,Partly Furnished,Land area,5,0,0,Semi-detached House,Gold,Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28985,Seputeh,750000,2,1,915.015,Partly Furnished,Built-up,3,0,0,Condominium,Silver,Small
28986,KL Sentral,1400000,3,2,1544.044,Fully Furnished,Land area,3,1,0,Condominium,Gold,Large
28987,KL Eco City,880000,1,1,650.050,Partly Furnished,Built-up,1,0,0,Condominium,Silver,Small
28988,Sri Hartamas,2700000,6,3,3973.073,Partly Furnished,Built-up,4,2,0,Condominium,Gold,Extra Large
28989,Setapak,540000,2,3,1313.013,Partly Furnished,Built-up,4,0,0,Condominium,Bronze,Medium