In [1]:
#importing data management, data visualisation libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data= pd.read_csv('KL_clean_data.csv')
data

,Price,Bathrooms,Car Parks,Property Type,Size,Furnishing,area,No_of_Bedrooms,No_of_servant_rooms,type,size,studio_apartment
0,1250000,3,2,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,KLCC,2,1,Built-up,1335,0
1,1030000,4,2,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,Dutamas,3,0,Built-up,1875,0
2,900000,3,2,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,Bukit Jalil,4,1,Built-up,1513,0
3,5350000,5,4,Bungalow,Land area : 7200 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,4,2,Land area,7200,0
4,2600000,4,4,Semi-detached House,Land area : 3600 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,5,0,Land area,3600,0
...,...,...,...,...,...,...,...,...,...,...,...,...
26486,750000,2,1,Condominium,Built-up : 915 sq. ft.,Partly Furnished,Seputeh,3,0,Built-up,915,0
26487,1400000,3,2,Condominium (Corner),Land area : 1544 sq. ft.,Fully Furnished,KL Sentral,3,1,Land area,1544,0
26488,880000,1,1,Condominium (Corner),Built-up : 650 sq. ft.,Partly Furnished,KL Eco City,1,0,Built-up,650,0
26489,2700000,6,3,Condominium (Corner),"Built-up : 3,973 sq. ft.",Partly Furnished,Sri Hartamas,4,2,Built-up,3973,0
26490,540000,2,3,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished,Setapak,4,0,Built-up,1313,0

In [16]:
data['Property Type'].value_counts()

Condominium                             6062
Condominium (Corner)                    4082
Condominium (Intermediate)              3686
Serviced Residence                      3487
Serviced Residence (Intermediate)       2158
                                        ...
Cluster House (Intermediate)               1
4-sty Terrace/Link House (Penthouse)       1
3-sty Terrace/Link House (Triplex)         1
2-sty Terrace/Link House (Penthouse)       1
4.5-sty Terrace/Link House (Corner)        1
Name: Property Type, Length: 87, dtype: int64

In [ ]:
data['Property Type'].value_counts()

In [18]:
property_type_counts = data['Property Type'].value_counts()
less_than_10 = property_type_counts[property_type_counts < 10].index
filtered_data = data[data['Property Type'].isin(less_than_10)]
filtered_data

,Price,Bathrooms,Car Parks,Property Type,Size,Furnishing,area,No_of_Bedrooms,No_of_servant_rooms,type,size,studio_apartment
395,3688000,5,5,4.5-sty Terrace/Link House (Intermediate),Land area : 1367 sq. ft.,Partly Furnished,Taman Desa,4,1,Land area,1367,0
564,4467122,5,4,4-sty Terrace/Link House (Intermediate),"Built-up : 4,422 sq. ft.",Partly Furnished,Bukit Kiara,5,0,Built-up,4422,0
565,5344829,5,4,4-sty Terrace/Link House (Intermediate),"Built-up : 5,315 sq. ft.",Partly Furnished,Bukit Kiara,5,0,Built-up,5315,0
601,2850000,6,5,3.5-sty Terrace/Link House (Corner),"Built-up : 3,500 sq. ft.",Partly Furnished,Desa ParkCity,5,1,Built-up,3500,0
1144,1600000,3,2,3-sty Terrace/Link House (Duplex),"Built-up : 1,900 sq. ft.",Fully Furnished,Desa ParkCity,3,0,Built-up,1900,0
...,...,...,...,...,...,...,...,...,...,...,...,...
25856,5580000,6,4,4.5-sty Terrace/Link House (Corner),"Built-up : 5,356 sq. ft.",Fully Furnished,Mont Kiara,4,2,Built-up,5356,0
25896,1300000,2,1,1.5-sty Terrace/Link House (Intermediate),Land area : 1875 sq. ft.,Unfurnished,Bangsar,5,0,Land area,1875,0
25951,2000000,4,3,4-sty Terrace/Link House,"Built-up : 2,750 sq. ft.",Fully Furnished,Taman Melawati,3,1,Built-up,2750,0
26305,2900000,4,2,1.5-sty Terrace/Link House (Corner),Land area : 4391 sq. ft.,Partly Furnished,Bangsar,4,0,Land area,4391,0
26387,849999,3,1,Townhouse (Duplex),Land area : 1345 sq. ft.,Partly Furnished,Taman Tun Dr Ismail,3,0,Land area,1345,0

In [21]:
property_type_counts = data['Property Type'].value_counts()
less_than_18 = property_type_counts[property_type_counts < 18].index
data['Property Type'] = data['Property Type'].replace(less_than_18, 'Other')

In [22]:
data['Property Type'].value_counts()

Condominium                                  6062
Condominium (Corner)                         4082
Condominium (Intermediate)                   3686
Serviced Residence                           3487
Serviced Residence (Intermediate)            2158
Serviced Residence (Corner)                  1572
Apartment (Intermediate)                      474
Bungalow (Intermediate)                       459
Bungalow                                      453
Bungalow (Corner)                             390
Apartment                                     329
Condominium (EndLot)                          285
Semi-detached House (Intermediate)            264
2-sty Terrace/Link House (Intermediate)       255
Other                                         207
Apartment (Corner)                            192
Semi-detached House                           176
Condominium (Penthouse)                       174
3-sty Terrace/Link House (Intermediate)       167
Townhouse (Intermediate)                      139
Condominium (Duplex)                          135
Semi-detached House (Corner)                  126
Serviced Residence (EndLot)                   124
2-sty Terrace/Link House (Corner)             119
2-sty Terrace/Link House                      103
Serviced Residence (Duplex)                    89
3-sty Terrace/Link House                       81
3-sty Terrace/Link House (Corner)              61
Townhouse                                      59
Serviced Residence (Penthouse)                 59
1-sty Terrace/Link House (Intermediate)        53
Flat (Intermediate)                            47
2.5-sty Terrace/Link House (Intermediate)      47
Serviced Residence (SOHO)                      46
Serviced Residence (Studio)                    42
2-sty Terrace/Link House (EndLot)              37
Flat                                           29
Apartment (EndLot)                             26
1-sty Terrace/Link House                       26
Bungalow (EndLot)                              25
3.5-sty Terrace/Link House (Intermediate)      24
Semi-detached House (EndLot)                   23
3-sty Terrace/Link House (EndLot)              22
Townhouse (Corner)                             21
Flat (Corner)                                  19
2.5-sty Terrace/Link House (Corner)            19
2.5-sty Terrace/Link House                     18
Name: Property Type, dtype: int64

In [23]:
data['Property Type'].nunique()

47

In [10]:
grouped_data = data.groupby(['area', 'Property Type'])['Price'].agg(['count', 'mean'])

grouped_data= pd.DataFrame(grouped_data)

In [12]:
type(grouped_data)

pandas.core.frame.DataFrame

In [13]:
grouped_data

                                                        count          mean
area           Property Type
Ampang         1-sty Terrace/Link House                     1  7.000000e+05
               1-sty Terrace/Link House (Intermediate)      2  4.550000e+05
               2-sty Terrace/Link House                     6  1.170500e+06
               2-sty Terrace/Link House (Corner)            3  1.406667e+06
               2-sty Terrace/Link House (EndLot)            2  1.019500e+06
...                                                       ...           ...
Wangsa Maju    Serviced Residence (Corner)                 25  4.564000e+05
               Serviced Residence (EndLot)                  1  4.500000e+05
               Serviced Residence (Intermediate)           39  4.575062e+05
               Townhouse (Intermediate)                     2  4.975000e+05
duta Nusantara Semi-detached House (Intermediate)           1  4.450000e+06

[1238 rows x 2 columns]

In [15]:
grouped_data = data.groupby(['area'])['Price'].agg(['count', 'mean'])

grouped_data= pd.DataFrame(grouped_data)
grouped_data

                      count          mean
area
Ampang                  571  1.765639e+06
Ampang Hilir            337  3.463895e+06
Bandar Damai Perdana     21  6.311370e+05
Bandar Menjalara        250  5.812006e+05
Bandar Tasik Selatan     39  4.618946e+05
...                     ...           ...
Taman Tun Dr Ismail     443  2.180649e+06
Taman Yarl                1  4.000000e+06
Titiwangsa               89  2.103114e+06
Wangsa Maju             509  7.129082e+05
duta Nusantara            1  4.450000e+06

[75 rows x 2 columns]

In [ ]:
Property type based on price range replace it with Premium gold silver bronze copper

In [24]:
# Define price ranges and corresponding categories
price_ranges = [(0, 500000), (500001, 1000000), (1000001, 1500000), (1500001, 2000000), (2000001, float('inf'))]
categories = ['Copper', 'Bronze', 'Silver', 'Gold', 'Premium']

# Function to map price to category
def map_price_to_category(price):
    for i, (lower, upper) in enumerate(price_ranges):
        if lower <= price <= upper:
            return categories[i]
    return categories[-1]  # Default to 'Premium' for prices higher than the defined ranges

# Apply the mapping function to create a new column with categories
data['Price Category'] = data['Price'].apply(map_price_to_category)

# Replace 'Property Type' based on 'Price Category'
property_type_mapping = {
    'Copper': 'Copper',
    'Bronze': 'Bronze',
    'Silver': 'Silver',
    'Gold': 'Gold',
    'Premium': 'Premium'
}
data['Property Type'] = data['Price Category'].map(property_type_mapping)

In [ ]:
# Define price and size ranges and corresponding categories
price_ranges = [(0, 500000), (500001, 1000000), (1000001, 1500000), (1500001, 2000000), (2000001, float('inf'))]
size_ranges = [(0, 1000), (1001, 2000), (2001, 3000), (3001, 4000), (4001, float('inf'))]
categories = ['Copper', 'Bronze', 'Silver', 'Gold', 'Premium']

# Function to map price and size to category
def map_price_size_to_category(price, size):
    for i, (price_lower, price_upper) in enumerate(price_ranges):
        for j, (size_lower, size_upper) in enumerate(size_ranges):
            if price_lower <= price <= price_upper and size_lower <= size <= size_upper:
                return categories[i]
    return categories[-1]  # Default to 'Premium' for prices or sizes higher than the defined ranges

# Apply the mapping function to create a new column with categories
data['Price Category'] = data.apply(lambda row: map_price_size_to_category(row['Price'], row['Size']), axis=1)

# Replace 'Property Type' based on 'Price Category'
property_type_mapping = {
    'Copper': 'Copper',
    'Bronze': 'Bronze',
    'Silver': 'Silver',
    'Gold': 'Gold',
    'Premium': 'Premium'
}
data['Property Type'] = data['Price Category'].map(property_type_mapping)