In [1]:
#importing data management, data visualisation libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import regex as re

In [2]:
data= pd.read_csv('KL_clean_data.csv')
data

,Price,Bathrooms,Car Parks,Furnishing,type,size,area,No_of_Bedrooms,No_of_servant_rooms,studio_apartment,Property Type Supergroup
0,1250000,3,2,Fully Furnished,Built-up,1335,KLCC,2,1,0,Serviced Residence
1,1030000,4,2,Partly Furnished,Built-up,1875,Dutamas,3,0,0,Condominium
2,900000,3,2,Partly Furnished,Built-up,1513,Bukit Jalil,4,1,0,Condominium
3,5350000,5,4,Partly Furnished,Land area,7200,Taman Tun Dr Ismail,4,2,0,Bungalow
4,2600000,4,4,Partly Furnished,Land area,3600,Taman Tun Dr Ismail,5,0,0,Semi-detached House
...,...,...,...,...,...,...,...,...,...,...,...
28923,750000,2,1,Partly Furnished,Built-up,915,Seputeh,3,0,0,Condominium
28924,1400000,3,2,Fully Furnished,Land area,1544,KL Sentral,3,1,0,Condominium
28925,880000,1,1,Partly Furnished,Built-up,650,KL Eco City,1,0,0,Condominium
28926,2700000,6,3,Partly Furnished,Built-up,3973,Sri Hartamas,4,2,0,Condominium
28927,540000,2,3,Partly Furnished,Built-up,1313,Setapak,4,0,0,Condominium

In [11]:
# Select columns of type 'object'
object_columns = data.select_dtypes(include=['object'])

# Calculate the number of unique values in each column
unique_values = object_columns.nunique()

# Print the number of unique values for each column
print(unique_values)

Furnishing                   4
type                         2
area                        79
Property Type Supergroup    10
dtype: int64

In [17]:
y= data['Price']
y

0        1250000
1        1030000
2         900000
3        5350000
4        2600000
          ...
28923     750000
28924    1400000
28925     880000
28926    2700000
28927     540000
Name: Price, Length: 28928, dtype: int64

In [15]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

# Copy the original DataFrame
data_encoded = data.copy()

# Initialize LabelEncoder, OneHotEncoder, and StandardScaler
label_encoder = LabelEncoder()
onehot_encoder = OneHotEncoder()
scaler = StandardScaler()

# Initialize list to store column names for scaling
numeric_columns = []

# Iterate over columns
for column in data.columns:
    # Check if column is of object dtype
    if data[column].dtype == 'object':
        # Check number of unique values
        unique_count = data[column].nunique()
        if unique_count == 2:
            # Apply label encoding for binary categorical columns
            data_encoded[column] = label_encoder.fit_transform(data[column])
        elif unique_count > 2:
            # Apply one-hot encoding for categorical columns with more than 2 unique values
            encoded_values = onehot_encoder.fit_transform(data[[column]]).toarray()
            encoded_df = pd.DataFrame(encoded_values, columns=[f'{column}_{val}' for val in onehot_encoder.categories_[0]])
            data_encoded.drop(column, axis=1, inplace=True)
            data_encoded = pd.concat([data_encoded, encoded_df], axis=1)
    else:
        # Add numeric columns for scaling
        numeric_columns.append(column)

# Scale numeric columns
scaled_values = scaler.fit_transform(data[numeric_columns])
scaled_df = pd.DataFrame(scaled_values, columns=numeric_columns)
data_encoded.drop(numeric_columns, axis=1, inplace=True)
data_encoded = pd.concat([data_encoded, scaled_df], axis=1)

In [18]:
data_encoded.drop(columns='Price', inplace = True)

In [23]:
data_encoded['Price']=y

In [24]:
data_encoded

,type,Furnishing_Fully Furnished,Furnishing_Partly Furnished,Furnishing_Unfurnished,Furnishing_Unknown,area_Ampang,area_Ampang Hilir,area_Bandar Damai Perdana,area_Bandar Menjalara,area_Bandar Tasik Selatan,...,Property Type Supergroup_Serviced Residence,Property Type Supergroup_Terrace/Link House,Property Type Supergroup_Townhouse,Bathrooms,Car Parks,size,No_of_Bedrooms,No_of_servant_rooms,studio_apartment,Price
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.023213,-0.024893,-0.00588,-0.903351,1.034760,-0.104417,1250000
1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.667647,-0.024893,-0.00588,-0.109230,-0.786458,-0.104417,1030000
2,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.023213,-0.024893,-0.00588,0.684891,1.034760,-0.104417,900000
3,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.312081,1.470644,-0.00588,0.684891,2.855978,-0.104417,5350000
4,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.667647,1.470644,-0.00588,1.479012,-0.786458,-0.104417,2600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28923,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-0.621221,-0.772661,-0.00588,-0.109230,-0.786458,-0.104417,750000
28924,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.023213,-0.024893,-0.00588,-0.109230,1.034760,-0.104417,1400000
28925,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-1.265655,-0.772661,-0.00588,-1.697473,-0.786458,-0.104417,880000
28926,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.956515,0.722876,-0.00588,0.684891,2.855978,-0.104417,2700000
28927,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,-0.621221,0.722876,-0.00588,0.684891,-0.786458,-0.104417,540000

In [25]:
data_encoded.to_csv('KL_encoded_data.csv',index=False)